iot_sgx/
SampleEnclave/
SimulatedIoTData/
*.o
*.xml
*.json
*.txt
*.bin
.DS_Store
IOT_SGX_new/.idea/
IOT_SGX_new/Enclave/Constants.h
IOT_SGX_new/Enclave/._.DS_Store
IOT_SGX_new/Enclave/._Edger8rSyntax
IOT_SGX_new/Enclave/._Enclave.h
IOT_SGX_new/Enclave/._Enclave.lds
IOT_SGX_new/Enclave/._Enclave_private.pem
IOT_SGX_new/Enclave/._TrustedLibrary
IOT_SGX_new/App/EmailManager.cpp
IOT_SGX_new/App/EmailManager.h
IOT_SGX_new/App/email.cpp
IOT_SGX_new/App/email.h
IOT_SGX_new/App/._App.h
IOT_SGX_new/App/._Edger8rSyntax 
IOT_SGX_new/App/._TrustedLibrary
